body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
header {
  display: flex; /*Tells header it is a flex container*/
  justify-content: space-evenly; /*Evently spaces child elements inside the container*/
  align-items: center; /*Vertically center the child elements inside the container*/
  background-color: #f9f9f9; /*#2d4059; */
  color: black; /*Font color*/
  padding: 40px 20px; /*Padding inside the header to create space around the content*/
  width: 100%; /*Makes sure the header spans the entire width of the screen*/
  margin: 0 auto; /*Centers header horizontally on the page*/
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}
header img {
    border-radius: 50%; /*round the corners of the element (if it's square), adds rounded corners*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* add soft shadow to make it "float"*/
    max-width: 100%; /* ensures the image is responsive */
    height: auto; /*maintains image's aspect ration while resizing*/
    object-fit: cover; /* crops the image without distorting */
}
.right-align {
  margin-right: 40px;
}
.intro{
    max-width: 500px; /* limits the width for better readability*/
    text-align: left; /* aligns text to the left, right, center*/
}
/*Styling for entire Main Element*/
main {
    display: flex;/*  Tells Main it is a flex container */
    flex-direction:column; /*Stacks child elements (sections) vertically in a column */
    align-items: center; /* Alight child elements horizontally in the center */
    padding: 30px; /* adds padding AROUND the main content for better spacing */
}
 /* Styling for the Section Elements */
section {
    background-color: #f9f9f9; /*background color of each section*/
    border-radius: 8px; /*adds rounded corners to section */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /*box shadow making it "float"*/
    padding: 20px; /*adds space INSIDE each section "card"*/
    margin-bottom: 20px; /* adds space at the BOTTOM of each "card */
    width: 100%; /*makes the section take up the full width of the MAIN container*/
    max-width: 800px; /* limits the width to a MAX of 800px */
 }
 li {
    margin-bottom: 15px; /*Add space between EACH list item */
 }
a{
    text-align: center;
    text-decoration: none;
}
footer a i {
  font-size: 40px;
  color: #0077B5; /* LinkedIn blue */
}
.centerFooter {
  text-align: center;
}
